<!DOCTYPE html>
<html>
<head>
    {% block head%}
    {% endblock%}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
   <meta name="viewport" content="width=device-width,  initial-scale=1.0">
	<meta name="keyword" content="DaJore个人博客,Python,Django,web开发,JavaScript,linux,centos,mysql">
	<meta name="description" content="DaJore的个人博客，学习，记录，分享,关注热爱技术!!!">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/font/font.css">
    <script src="/static/jquery-3.1.1/jquery-3.1.1.min.js"></script>
    <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <link rel="icon" href="/static/picture/rocket.ico" type="image/x-icon">
	<link rel="shortcut icon" href="/static/picture/rocket.ico" type="image/x-icon">
    <title>{% block title_base %}Jore's Blog{% endblock %}</title>
</head>
<body>
	{% block block_jumbotron %}
		<div class="jumbotron" style="background-color: #f0f0f4;height: 220px;">
			<div class="container">
				<h1 style="font-family: Girls;color: #177cb0;text-align: left;">Jore's Blog</h1>
				<ul class="nav nav-pills" style="float: right;">
					<li class="active"><a href="{% url 'home' %}"><strong style="font-size:18px;color: #ff461f;font-family: Girls;">Home</strong></a></li>
					<li><a href="{% url 'blog_paging' '' %}"><strong style="font-size:;color: #ff461f;font-family: Girls; ">Blog</strong></a></li>
				</ul>
			</div>
		</div>
	{% endblock %}
	 <div class="container" style="height:auto;" id="containerone">
		<!--<div class="row" style="float: right;">-->
			<!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="float: right;">-->
				<!--<form action="" method="get">-->
					<!--<input type="text" style="border-color: #222222"><button style="color: #f112dc"><span class="glyphicon glyphicon-search"></span></button>-->
				<!--</form>-->
			<!--</div>-->
		<!--</div>-->
		 <div class="row">
			 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					{% block block_base %}
					{% endblock %}
			</div>
		 </div>
		{% block paging %}
		{% endblock %}
	</div>
	<div class="container" style="height: auto;" id="containertwo">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<p style="text-align: center;">Copyright &copy; 2016-2017 Powered By  Django  All Rights Reserved </p>
				<p style="color: #ff4777;text-align: center;"> Designed By DaJore</p>
			</div>
		</div>
	</div>
	<script src="/static/js/displayCtrl.js"></script>
<a></a>
</body>
</html>