{% extends 'base.html' %}
{% block title_base %}Jore's Blog{% endblock %}
{% block block_jumbotron %}
	<div class="jumbotron" style="background-color: #f0f0f4;height: 220px">
			<div class="container">
				<h1 style="font-family: Girls;color: #177cb0;text-align: left;">Jore's Blog</h1>
				<ul class="nav nav-pills" style="float: right;">
					<li><a href="{% url 'home' %}"><strong style="font-size: ;color: #ff461f;font-family: Girls;">Home</strong></a></li>
					<li  class="active"><a href="{% url 'blog_paging' '' %}"><strong style="font-size:;color: #ff461f;font-family: Girls; ">Blog</strong></a></li>
				</ul>
			</div>
		</div>
{% endblock %}
{% block block_base %}
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			{% for blog_list in content_list %}
				<a href="{% url 'detail' blog_list.id %}"><h3>{{ blog_list.title }}</h3></a>
				<span class="label label-success" style="margin-left: 30px;">{{ blog_list.date }}</span>
				<span class="label label-info" style="margin-left: 8px;">{{ blog_list.tag }}</span>
				<div class="row">
					<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
						<p class="text-info" style="text-indent: 20px;">{{ blog_list.summary }}......</p><br>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
{% block paging %}
{% if flag == 'yes' %}
	<div class="row" style="">
		<div class="col-sm-12 col-xs-12">
			<ul class="pagination pagination" style="text-align: center;">
				<li><a href="{% url 'blog_paging' '1' %}" aria-label='start'>&laquo;首页</a></li>
				{% for p in pages %}
				{% if p == page %}
				<li class="active"><a href="{% url 'blog_paging' p %}">{{ p }}</a></li>
				{% else %}
				<li><a href="{% url 'blog_paging' p %}">{{ p }}</a></li>
				{% endif %}
				{% endfor %}
				<li><a href="{% url 'blog_paging' end %}" aria-label='end'>末页&raquo;</a></li>
			</ul>
		</div>
	</div>
{% endif %}
{% endblock %}